if SHIELD_CUSTOM100_LEFT || SHIELD_CUSTOM100_RIGHT

config ZMK_KEYBOARD_NAME
    default "Custom100"

config ZMK_SPLIT
    default y

if SHIELD_CUSTOM100_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CUSTOM100_LEFT

endif # SHIELD_CUSTOM100_LEFT || SHIELD_CUSTOM100_RIGHT
